<p id="notice"></p>
  <div class='container'>
   <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
      <div class="error-message">
       <%= @user.errors.count %> error prohibited this obj from being saved:
        <ul>
       <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
       <% end %>
        </ul>
       <% end %>
        <%= form_with model: @user do |f| %>
          <!-- 名前のフィールド -->
          <div class="form-group">
            <%= f.label :user, "Name" %>
            <%= f.text_field :name, class: 'form-control name', placeholder: 'Enter your name' %>
          </div>
          <!-- 画像のアップロード -->
          <div class="form-group">
            <%= f.label :profile_image, "Image" %>
            <%= f.file_field :profile_image, class: 'form-control-file user_image', accept: 'image/*', id: 'user_image' %>
          </div>
          <!-- 自己紹介文のフィールド -->
          <div class="form-group">
            <%= f.label :introduction %>
            <%= f.text_area :introduction, class: 'form-control introduction' %>
          </div>
          <div class="form-group">
            <%= f.submit "Update User", class: 'btn btn-secondary', data: { disable_with: 'Update User' } %>
          </div>
        <% end %>
    </div>
  </div>
 </div>
</main>
<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
