<!-- app/views/users/show.html.erb -->

<h1>User info</h1>

<% if @user.present? %>
  <!-- 名前の表示 -->
  <p><strong>Name:</strong> <%= @user.name %></p>

  <!-- 画像の表示 -->
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize: "100x100") %>
  <% else %>
    <%= image_tag "no_image.jpg", alt: "No Image", width: 100, height: 100 %>
  <% end %>

  <!-- 自己紹介文の表示 -->
  <p><strong>Introduction:</strong> <%= @user.introduction %></p>

  <%= link_to "Update user", edit_user_path(@user), class: "btn btn-primary" %>
<% else %>
  <p>User not found</p>
<% end %>