<h2>User info</h2>
<table class="table">
  <tr>
    <td>
      <!-- ユーザーの写真 -->
      <div class="user-info">
  <% if user.avatar.attached? %>
    <%= image_tag user.avatar.variant(resize: "100x100"), class: "img-thumbnail" %>
  <% else %>
    <%= image_tag "no_image.jpg", alt: "No Image", class: "img-thumbnail", width: 100, height: 100 %>
  <% end %>
</div>
    </td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>Introduction</th>
    <td><%= user.introduction %></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= link_to edit_user_path(user) do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </td>
  </tr>
</table>
